# Environment
.venv/
venv/
env/
sql_query/
# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/

# Logs
logs/*.log

# Streamlit
.streamlit/secrets.toml
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

nlp_sql/